body {
  background-color: #A5C882;
  color: #1E152A;
  text-align: center;
  font-family: sans-serif;

}
header {
  background-color: #F7DD72;
  padding: 10px;
  margin:auto;
  width: 300px;
  border-radius: 10px;
}
#title {
  font-size: 50px;
}
#tribute-info {
  /*list-style-type: none;*/
  text-align: left;
  margin: auto;
  width: 500px;
  background-color: #F7DD72;
  padding: 25px;
  font-size: 25px;
  border-radius: 5%;
}
#img-caption {
  padding: 10px;
}
#image {
  max-width: 25%;
  display: block;
  height: auto;
  margin: auto;
  border-radius: 30%;
}
h3 {
  margin: auto;
}
li {
  margin-top: 15px;
  margin-left: 60px;
  font-size: 15px;
}
